/* 设置全局样式 */

/* 页面高度100% 
   默认字体大小28upx  
   默认行高1.8
   默认背景颜色*/
page {
	height: 100%;
	font-size: 28upx;
	line-height: 1.8;
	background: #FFFFFF;
}
/* 图片默认宽度100% */
image {
	width: 100%;
}
/* 主色调 */
/* 主背景颜色(橙色) */
.main-bg-color {
	background: #FD6801;
}
/* 主点击背景颜色(淡橙色) */
.main-bg-hover-color {
	background: rgba(253, 104, 1, 0.85);
}
/* 主字体颜色(橙色) */
.main-text-color {
	color: #FD6801;
}
/* 主边框颜色 */
.main-border-color {
	border-color: #F1F1F1;
}
/* input输入框边框颜色 */
.input-border-color {
	border-color: #FD6801;
}
